*{
  box-sizing:border-box;
}

body{
    margin:0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:1rem;
    line-height:1.5;
    columns: #333;
    overflow-x:hidden;
}

.v-header{
    height:100vh;
    display:flex;
    align-items:center;
    color:#fff;
}

.container{
max-width: width 960px;
padding-left: 1rem;
padding-right: 1rem;
margin:auto;
text-align: center;
}

.fullscreen-video-wrap{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100vh;
    overflow:hidden;
}

.fullscreen-video-wrap video{
    min-width:100%;
    min-height:100%;
}

.header-overlay{
    height:100vh;
    position: absolute;
    top:0;
    left:0;
    background:#225470;
    z-index:1;
    opacity:0.85;
}

.header-content{
    z-index:2;
}

.header-content h1{
    font-size:80px;
    margin-bottom:0;
    color: #fff;
}

.header-content h2{
    font-size:50px;
    margin-bottom:0;
    color: #fff;
}

.header-content h3{
    font-size:30px;
    margin-bottom:0;
    color: #fff;
}

.header-content a{
    font-size:30px;
    margin-bottom:0;
    color:#fff;
}

a:link {color: #fff}		/* 未访问的链接 */
a:visited {color: #8f838394}	/* 已访问的链接 */
a:hover {color: #34b3a0}	/* 鼠标移动到链接上 */
a:active {color: #0000FF}	/* 选定的链接 */


.header-content p{
    font-size: 1.3rem;
    display:block;
    padding-bottom:2rem;
}

.btn{
    background:#34b3a0;
    color: #fff;
    padding: 1rem 2rem;
    text-decoration:none;
}

@media(max-width:960px){
    .container{
        padding-right: 3rem;
        padding-left: 3rem;
    }
}

.footer a{
    font-size:30px;
    margin-bottom:0;
    color:#fff;
}

.page img{
    height:30vh;
    position: auto;
    top:5;
    left:0;
    background:#225470;
    z-index:2;
    opacity:12;    
}

.page a{
    font-size: 1.5rem;
    color:#fff;
}